{{!-- CArd partial --}}
<div class="card" style="width: 18rem;">
  <a href={{this.link}} target="_blank">
    <img class="card-img-top" src={{this.image}} alt="Card image cap">
  </a>
  <div class="card-body">
    <h4>{{this.title}}</h4>
    <p class="card-text">{{this.summary}}</p>
    <button class="save-button btn btn-primary" id={{this._id}}>Save this article</button>
  </div>
</div>