{{!-- Card partial for Saved page --}}
<div class="card" style="width: 18rem;">
  <a href={{this.link}} target="_blank">
    <img class="card-img-top" src={{this.image}} alt="Card image cap">
  </a>
  <div class="card-body">
    <h4>{{this.title}}</h4>
    <p class="card-text">{{this.summary}}</p>
    <button class="delete-button btn btn-primary" id={{this._id}}>Delete</button>
    <button type="button" class="comment-button btn btn-primary" id={{this._id}} data-toggle="modal"
      data-target="#{{this._id}}">Comments</button>
  </div>
</div>

{{!-- Modal for comments --}}
<div class="modal fade {{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Comment</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
        <div class="modal-comments">
          {{#if this.comment}}
          {{#each this.comment}}
          <h5><strong>Anonymous: </strong>{{this.text}}</h5>
          {{/each}}
          {{/if}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary submit-comment" id={{this._id}}>Post Comment</button>
      </div>
    </div>
  </div>
</div>